@charset "UTF-8";
.try {
  /** ここに記述しよう */
}

.try .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: black;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try .double-spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 120px;
          perspective: 120px;
}

.try .double-spinner > div:nth-child(1) {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -webkit-animation-name: double-spinner;
          animation-name: double-spinner;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try .double-spinner > div:nth-child(2) {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -webkit-animation-name: double-spinner;
          animation-name: double-spinner;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try .rect-spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: between;
      flex-basis: between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 120px;
          perspective: 120px;
}

.try .rect-spinner > div:nth-child(1) {
  width: 6px;
  height: 50%;
  background-color: black;
  -webkit-animation-name: rect-spinner;
          animation-name: rect-spinner;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try .rect-spinner > div:nth-child(2) {
  width: 6px;
  height: 50%;
  background-color: black;
  -webkit-animation-name: rect-spinner;
          animation-name: rect-spinner;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try .rect-spinner > div:nth-child(3) {
  width: 6px;
  height: 50%;
  background-color: black;
  -webkit-animation-name: rect-spinner;
          animation-name: rect-spinner;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try .rect-spinner > div:nth-child(4) {
  width: 6px;
  height: 50%;
  background-color: black;
  -webkit-animation-name: rect-spinner;
          animation-name: rect-spinner;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try .rect-spinner > div:nth-child(5) {
  width: 6px;
  height: 50%;
  background-color: black;
  -webkit-animation-name: rect-spinner;
          animation-name: rect-spinner;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
            transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0);
            transform: perspective(120px) rotateX(-180deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
            transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0);
            transform: perspective(120px) rotateX(-180deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@-webkit-keyframes double-spinner {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes double-spinner {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rect-spinner {
  0%, 40%, 100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
  20% {
    -webkit-transform: scaleY(200%);
            transform: scaleY(200%);
  }
}

@keyframes rect-spinner {
  0%, 40%, 100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
  20% {
    -webkit-transform: scaleY(200%);
            transform: scaleY(200%);
  }
}
/*# sourceMappingURL=try.css.map */